@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin overlay($color, $opacity) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color, $opacity);
}

@mixin prefixer($prop, $value, $prefixes) {
  @each $prefix in $prefixes {
    #{'-'+ $prefix + '-' + $prop}: $value;
  }
  #{$prop}: $value;
}

@mixin keyF($anim) {
  @keyframes #{$anim} {
    @content;
  }
  @-webkit-keyframes #{$anim} {
    @content;
  }
}
