@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.header {
  padding: 20px 0;
  border-bottom: 1px solid $p-color;
  overflow: hidden;
  .logo {
    width: 30%;
    float: $float-left;
    position: relative;
    text-align: $text-left;
    @include breakpoint(small) {
      width: 100%;
      float: none;
      text-align: center;
    }
    @include breakpoint(mobile) {
      width: 100%;
      float: none;
    }
    h1 {
      margin: 0;
    }
    p {
      color: $p-color;
    }
  }
  ul {
    overflow: hidden;
    width: 70%;
    float: $float-right;
    background-color: $skin-color;
    border-radius: 15px;
    @include breakpoint(small) {
      width: 100%;
      margin-top: 30px;
      float: none;
      text-align: center;
    }
    @include breakpoint(mobile) {
      display: none;
      width: 100%;
      border-radius: 2px;
      &.open {
        display: block;
      }
    }
    li {
      width: 20%;
      text-align: center;
      float: $float-left;
      @include breakpoint(mobile) {
        float: none;
        width: 100%;
        text-align: $text-left;
        padding: 0 10px;
      }
      a {
        display: block;
        padding: 20px 10px;
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $p-color;
        }
      }
    }
  }
}
